<!DOCTYPE html>
<html>
    <head>
        <title>
            Info Page
        </title>
        <style>
            body{
                background: skyblue;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #fff;
                padding: 30px;
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 2px;
            }
            h2{
                font-size: 30px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 2px;
            }
            p,li{
                font-size: 16px;
                text-align: center;
            }
        </style>

    </head>

    <body>
        <% include partials/nav.ejs %> 
        <!-- This will include the navabar we desined there. -->
        <h1>Welcome to the profile of <%= userName %></h1>
        <p><strong>Age: <%= data.age %></strong></p>
        <p><strong>Profession: <%= data.profession %></strong></p>
        <h2>Hobbies: </h2>
        <ul>
            <% data.hobbies.forEach(function(hobbie){ %>
                <li><%= hobbie %></li>
          <%  })  %>
        </ul>
    </body>
</html>

<!--
    //Here we are gonna put our dynamic content
    The syntax for getting the same is:
        <%=    %> //This is the syntax for getting the object properties from there.(the javascript file).
        <% %> //This is baiscally used for the control flow(Javascript) of the program. 
        Whereas the upper one is used for outputting data.
-->

<!--
    Now supposing that we have Something common everytime in every page, say a navbar is common for all the pages, what we can simply do is basically
    use the same navbar. how to do that is followed in this tutorial
    --The benefits for the smae are as follows. The major advantage is that, consider for example that we
        don't have to write the code again and again and second and a major advantage is that, We necessarily don't have
        to chnage it evertime.

        To use that into our code, what we basically have the include statement.<% %>
        So, basically include statement and the directory
-->